

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Fonts are your friends 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  color: white;
}

h1 {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

p {
	font-size: 16px;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Banging my for-header on the keyboard
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.header {
  padding: 15px;
}
.header ul {
  float: right;
  color: white;
}
.header li {
  display: inline-block;
  padding: 0px 5px;
}
.header p {
  display: inline-block;
}



/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Safest place to hide a body
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.content-intro-card {
  text-align: left;
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 10px;
  border-radius: 5%;
}

.content-intro-box {
  max-width: 30%;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 60%;
}

button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

.body-container {
  min-height: calc(100vh - 500px);
  background-image: linear-gradient(rgba(255,0,0,0), #000000);
  padding: 150px 50px 94px 50px;
}


/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
The code's on the other footer 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.footer {
  background-color: #000000;
  padding: 5px;
  color: white;
}
.footer ul {
  list-style: none;
  padding-left: 5px;
}
.footer li {
  display: inline-block;
  padding: 0px 7px;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Background experiment improvised/borrowed from urbanriedo.ch 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

body.about-page {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative; 
  /* overflow: hidden; */
  background-color: #000;
}

body.about-page:before {
  background-image: url(../images/Jenn_photo-2.png);
  background-repeat: no-repeat;
  background-position: center 4%;
  background-size: cover;
  position: absolute !important;
  pointer-events: none;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fade-in-scale-down 5s ease-out 1;
  -webkit-animation: fade-in-scale-down 5s ease-in-out 1;
  -moz-animation: fade-in-scale-down 5s ease-in-out 1;
  -o-animation: fade-in-scale-down 5s ease-in-out 1;
}
